java/examples/mulesoft/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
    MuleSoft Configuration Example for Glue Schema Registry
    
    This example demonstrates how to configure and use the Glue Schema Registry
    client in a MuleSoft application with complete end-to-end JSON payload processing.
    
    Prerequisites:
    1. Add the schema-registry-client JAR as a dependency in your MuleSoft project
    2. Configure AWS credentials in MuleSoft Secure Properties (see configuration below)
    3. Configure schema registry name and AWS region (see configuration below)
    
    Configuration Setup:
    ===================
    
    Option 1: Using MuleSoft Secure Properties (Recommended for Production)
    -----------------------------------------------------------
    In your MuleSoft application's secure properties file (secure.properties or 
    via Anypoint Platform), add:
    
        secure::aws.access.key.id=YOUR_AWS_ACCESS_KEY_ID
        secure::aws.secret.access.key=YOUR_AWS_SECRET_ACCESS_KEY
        secure::glue.registry.name=your-glue-schema-registry-name
        secure::aws.region=us-east-1
    
    Option 2: Using System Properties
    ---------------------------------
    Set these as system properties or environment variables:
    
        glue.registry.name=your-glue-schema-registry-name
        aws.region=us-east-1
        aws.access.key.id=YOUR_AWS_ACCESS_KEY_ID
        aws.secret.access.key=YOUR_AWS_SECRET_ACCESS_KEY
    
    Option 3: Using Environment Variables
    ---------------------------------------
    Set these environment variables:
    
        GLUE_REGISTRY_NAME=your-glue-schema-registry-name
        AWS_REGION=us-east-1
        AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
        AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
    
    Note: The configuration provider will check in this order:
    1. MuleSoft secure properties (secure:: prefix)
    2. MuleSoft application properties (mule.app. prefix)
    3. System properties
    4. Environment variables
    5. Default values (registry: "glue-schema-registry", region: "us-east-1")
-->
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/java 
      http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
      http://www.mulesoft.org/schema/mule/ee/core 
      http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Configuration Properties -->
    <!-- These can be set in mule-artifact.json, secure properties, system properties, or environment variables -->
    <!-- The GlueSchemaRegistryMuleModule will automatically read from these sources -->
    <configuration-properties>
        <configuration-property key="glue.registry.name" value="${glue.registry.name}"/>
        <configuration-property key="aws.region" value="${aws.region}"/>
        <!-- Optional: AWS credentials (recommended to use secure properties instead) -->
        <!-- <configuration-property key="aws.access.key.id" value="${aws.access.key.id}"/> -->
        <!-- <configuration-property key="aws.secret.access.key" value="${aws.secret.access.key}"/> -->
    </configuration-properties>

    <!-- 
        Complete End-to-End Example: JSON Payload to Serialized Avro
        =============================================================
        This flow demonstrates the complete process:
        1. Receives JSON payload via HTTP
        2. Converts JSON to SalesforceAudit object using utility method
        3. Serializes to Avro format using Glue Schema Registry
        4. Returns serialized bytes
    -->
    <flow name="jsonToAvroSerializationFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/json-to-avro"
                       allowedMethods="POST"/>
        
        <!-- Step 1: Create module instance using static factory method -->
        <!-- This reads AWS credentials and config from MuleSoft properties -->
        <java:invoke doc:name="Create Mule Module" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="create()"
                     targetVariable="muleModule"/>
        
        <!-- Convert JSON string to SalesforceAudit object -->
        <java:invoke doc:name="Convert JSON to Audit Object" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="fromJsonString(java.lang.String)"
                     instance="#[vars.muleModule]"
                     arguments="#[payload]"
                     targetVariable="auditEvent"/>
        
        <!-- Step 2: Serialize SalesforceAudit to Avro using Glue Schema Registry -->
        <java:invoke doc:name="Serialize to Avro" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="serializeAvro(java.lang.String, com.aws.glue.schema.registry.implementation.model.SalesforceAudit)"
                     instance="#[vars.muleModule]"
                     arguments="#['SalesforceAudit', vars.auditEvent]"
                     targetVariable="serializedAvro"/>
        
        <!-- Step 3: Set response with metadata -->
        <ee:transform doc:name="Set Response">
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        success: true,
                        message: "JSON payload successfully converted and serialized to Avro",
                        originalEvent: {
                            eventId: vars.auditEvent.eventId,
                            eventName: vars.auditEvent.eventName,
                            timestamp: vars.auditEvent.timestamp
                        },
                        serializedSize: sizeOf(vars.serializedAvro),
                        serializedData: vars.serializedAvro,
                        format: "AVRO",
                        schemaName: "SalesforceAudit"
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Error handling -->
        <error-handler>
            <on-error-propagate type="JAVA:EXCEPTION" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>
                            <![CDATA[%dw 2.0
                            output application/json
                            ---
                            {
                                success: false,
                                error: error.message,
                                errorType: error.class.simpleName,
                                timestamp: now()
                            }]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- 
        Alternative: JSON Payload to Serialized JSON (using Schema Registry)
        =====================================================================
        Similar to above but serializes to JSON format instead of Avro
    -->
    <flow name="jsonToJsonSerializationFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/json-to-json"
                       allowedMethods="POST"/>
        
        <!-- Create module instance using static factory method -->
        <java:invoke doc:name="Create Mule Module" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="create()"
                     targetVariable="muleModule"/>
        
        <!-- Convert JSON string to SalesforceAudit -->
        <java:invoke doc:name="Convert JSON to Audit Object" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="fromJsonString(java.lang.String)"
                     instance="#[vars.muleModule]"
                     arguments="#[payload]"
                     targetVariable="auditEvent"/>
        
        <!-- Serialize to JSON using Glue Schema Registry -->
        <java:invoke doc:name="Serialize to JSON" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="serializeJson(java.lang.String, com.aws.glue.schema.registry.implementation.model.SalesforceAudit)"
                     instance="#[vars.muleModule]"
                     arguments="#['SalesAuditJSON', vars.auditEvent]"
                     targetVariable="serializedJson"/>
        
        <!-- Set response -->
        <ee:transform doc:name="Set Response">
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        success: true,
                        message: "JSON payload successfully converted and serialized to JSON",
                        originalEvent: {
                            eventId: vars.auditEvent.eventId,
                            eventName: vars.auditEvent.eventName,
                            timestamp: vars.auditEvent.timestamp
                        },
                        serializedSize: sizeOf(vars.serializedJson),
                        serializedData: vars.serializedJson,
                        format: "JSON",
                        schemaName: "SalesAuditJSON"
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-propagate type="JAVA:EXCEPTION" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>
                            <![CDATA[%dw 2.0
                            output application/json
                            ---
                            {
                                success: false,
                                error: error.message,
                                errorType: error.class.simpleName,
                                timestamp: now()
                            }]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Example Flow: Serialize SalesforceAudit to Avro (Legacy - using DataWeave transformation) -->
    <flow name="serializeAuditEventFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/serialize"/>
        
        <!-- Transform incoming payload to SalesforceAudit object -->
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    output application/java
                    ---
                    {
                        eventId: payload.eventId,
                        eventName: payload.eventName,
                        timestamp: now() as Number,
                        eventDetails: payload.eventDetails
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <!-- Create GlueSchemaRegistryMuleModule instance using static factory method -->
        <java:invoke doc:name="Create Mule Module" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="create()"
                     targetVariable="muleModule"/>
        
        <!-- Serialize to Avro using Java module -->
        <java:invoke doc:name="Serialize Avro" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="serializeAvro(java.lang.String, com.aws.glue.schema.registry.implementation.model.SalesforceAudit)"
                     instance="#[vars.muleModule]"
                     arguments="#['SalesforceAudit', payload]"/>
        
        <!-- Set response -->
        <ee:transform>
            <ee:message>
                <ee:set-payload value='#["Serialized: " ++ sizeOf(payload) ++ " bytes"]'/>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- Example Flow: Deserialize Avro to SalesforceAudit -->
    <flow name="deserializeAuditEventFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/deserialize"/>
        
        <!-- Create GlueSchemaRegistryMuleModule instance using static factory method -->
        <java:invoke doc:name="Create Mule Module" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="create()"
                     targetVariable="muleModule"/>
        
        <!-- Deserialize from Avro -->
        <java:invoke doc:name="Deserialize Avro" 
                     class="com.aws.glue.schema.registry.mule.GlueSchemaRegistryMuleModule"
                     method="deserializeAvro(java.lang.String, byte[])"
                     instance="#[vars.muleModule]"
                     arguments="#['SalesforceAudit', payload]"/>
        
        <!-- Transform to JSON response -->
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        eventId: payload.eventId,
                        eventName: payload.eventName,
                        timestamp: payload.timestamp,
                        eventDetails: payload.eventDetails
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- 
        Example: Using DataWeave to process JSON payload end-to-end
        ===========================================================
        This example shows how to use DataWeave to:
        1. Convert JSON string to SalesforceAudit
        2. Serialize to Avro using Glue Schema Registry
    -->
    <flow name="dataweaveJsonToAvroFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/dataweave-json-to-avro"
                       allowedMethods="POST"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    import java!com::aws::glue::schema::registry::mule::GlueSchemaRegistryMuleModule
                    output application/json
                    ---
                    do {
                        // Create module instance (reads AWS credentials and config from MuleSoft properties)
                        var module = GlueSchemaRegistryMuleModule::create()
                        
                        // Convert incoming JSON string to SalesforceAudit object
                        var auditEvent = module.fromJsonString(payload as String)
                        
                        // Serialize to Avro using Glue Schema Registry
                        var serializedAvro = module.serializeAvro("SalesforceAudit", auditEvent)
                        
                        // Return result
                        {
                            success: true,
                            originalEvent: {
                                eventId: auditEvent.eventId,
                                eventName: auditEvent.eventName,
                                timestamp: auditEvent.timestamp,
                                eventDetails: auditEvent.eventDetails
                            },
                            serializedSize: sizeOf(serializedAvro),
                            serializedData: serializedAvro,
                            format: "AVRO",
                            schemaName: "SalesforceAudit"
                        }
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-propagate type="JAVA:EXCEPTION" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>
                            <![CDATA[%dw 2.0
                            output application/json
                            ---
                            {
                                success: false,
                                error: error.message,
                                errorType: error.class.simpleName,
                                timestamp: now()
                            }]]>
                        </ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Example: Using DataWeave to call Java methods directly (Legacy) -->
    <flow name="dataweaveExampleFlow">
        <http:listener doc:name="HTTP Listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/audit/dataweave"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
                    import java!com::aws::glue::schema::registry::mule::GlueSchemaRegistryMuleModule
                    import java!com::aws::glue::schema::registry::implementation::model::SalesforceAudit
                    output application/json
                    ---
                    {
                        // Create module instance
                        module: GlueSchemaRegistryMuleModule::create(),
                        
                        // Create audit event
                        auditEvent: {
                            eventId: "event-123",
                            eventName: "UserLogin",
                            timestamp: now() as Number,
                            eventDetails: "User logged in"
                        } as Object {class: "com.aws.glue.schema.registry.implementation.model.SalesforceAudit"},
                        
                        // Serialize to Avro
                        serialized: module.serializeAvro("SalesforceAudit", auditEvent)
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>

